body{
    background-color: rgb(113, 114, 114)

}
.heading{
    text-align: center;
    color: rgb(12, 7, 17);
    margin-top:20% ;

}
.container{
    width: 250px;
    height: 400px;
    margin: 80px auto ;
    border-radius: 10px;
    background-color: rgb(29, 88, 110);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #b6a9a9, -5px -5px 10px #ffffff ;

    
}
.calculatorbox{
    width: 200px;
    margin: 20px auto;
}
#display{
    border: none;
    outline: none;
    color: black;
    background: transparent;
    text-align: right;
     font-weight: 600;
     padding: 15px;
     margin: 30px 0 20px 0;
     box-shadow: inset 2px 2px 5px #ffffff, inset -5px -5px 10px #3e3535 ; 
}
.button{
    margin: 15px 0 0 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    width: 42px;
    height:42px ;
    border-radius: 8%;
    cursor: pointer;
    background-color: rgb(132, 92, 92);
    box-shadow: 5px 5px 10px #322c2c, -5px -5px 10px #aa9797;
    display: inline-block;



}
 
.button:active{
    box-shadow: inset 1px 1px 2px #1512e3, inset -1px -1px 2px #ffffff  ;
}

.clearbutton{
    color: white;
    background-color: red;

}
.operatorbutton{
    color: white;
    background-color: red;

}